<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher #refresher slot="fixed" (ionRefresh)="reloadEvents(refresher)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['/events/new']" [routerDirection]="'root'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="search-sort-container ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8">
          <ion-searchbar placeholder="Search events..." [debounce]="600" (ionInput)="handleInput($event)" animated
            clear-icon="close-circle"></ion-searchbar>
        </ion-col>
        <ion-col size="12" size-md="4" class="ion-text-end">
          <ion-button fill="solid" color="primary" (click)="orderBy.set('date')">
            Sort by Date
          </ion-button>
          <ion-button fill="solid" color="primary" (click)="orderBy.set('price')">
            Sort by Price
          </ion-button>
          <ion-button fill="solid" color="primary" (click)="orderBy.set('distance')">
            Sort by Distance
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  @for(event of filteredEvents(); track event.id) {
  <app-event-card [event]="event" (deleted)="deleteEvent(event)" />
  }

  <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more events...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>