<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-avatar>
      <img [src]="avatar()" alt="Profile Picture">
    </ion-avatar>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-text>{{ user()?.name }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text>{{ user()?.email }}</ion-text>
    </ion-item>
  </ion-list>

  @if (user()?.me) {
  <ion-item lines="none">
    <label for="fileInput" class="custom-upload-button">
      <ion-button color="danger" expand="block">
        <ion-icon name="image"></ion-icon>
        Change Avatar
      </ion-button>
    </label>
    <input id="fileInput" type="file" (change)="changeAvatar($event)" hidden />
  </ion-item>

  @if (showInfo()) {
  <ion-button expand="block" color="primary" (click)="editProfile()">Edit Profile</ion-button>
  <ion-button expand="block" color="success" (click)="editPassword()">Edit Password</ion-button>
  }

  @if (ProfileForm()) {
  <form (ngSubmit)="changeProfile()">
    <ion-item>
      <ion-input [(ngModel)]="email" name="email" label="Email" labelPlacement="floating" type="email" required
        #emailModel="ngModel"></ion-input>
      @if (emailModel.dirty && emailModel.valid) {
      <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
      }
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="name" name="name" label="Name" labelPlacement="floating" required
        #nameModel="ngModel"></ion-input>
      @if (nameModel.dirty && nameModel.valid) {
      <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
      }
      @if (nameModel.invalid && nameModel.dirty) {
      <ion-note color="danger">Name is required</ion-note>
      }
    </ion-item>

    <ion-button type="submit" expand="block">Save Changes</ion-button>
    <ion-button color="danger" expand="block" (click)="cancelEdit()">Cancel</ion-button>
  </form>
  }

  @if (PasswordForm()) {
  <form (ngSubmit)="changePassword()">
    <ion-item>
      <ion-input [(ngModel)]="password" name="password" label="New Password" type="password" required minlength="4"
        #passwordModel="ngModel"></ion-input>
      @if (passwordModel.dirty && passwordModel.valid) {
      <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
      }
      @if (passwordModel.invalid && passwordModel.dirty) {
      <ion-note color="danger">Must be at least 4 characters</ion-note>
      }
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="password2" name="password2" label="Confirm Password" type="password" required
        #password2Model="ngModel"></ion-input>
      @if (password2Model.dirty && password2Model.valid && password2Validation()) {
      <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
      }
      @if (password2Model.dirty && !password2Validation()) {
      <ion-note color="danger">Passwords do not match</ion-note>
      }
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!(password2Validation() && password().length >= 4)">
      Save Changes
    </ion-button>
    <ion-button color="danger" expand="block" (click)="cancelEdit()">Cancel</ion-button>
  </form>
  }
  }
  <ol-map [coordinates]="coords()">
    <ol-marker [coordinates]="coords()"></ol-marker>
  </ol-map>
</ion-content>